<%= form_for [@list, @item], :html => {:class => 'form-horozontal'} do |f| %>
<fieldset>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %><br>
    <%= f.text_field :description, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :priority, :class => 'control-label' %><br>
    <%= f.number_field :priority, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration, :class => 'control-label' %><br>
    <%= f.number_field :duration, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Repeat every:", :class => 'control-label' %><br>
    <ul>

      <% Date::DAYNAMES.each do |day| %>
          <li>
            <% if controller.action_name == "edit" %>
              <%= f.check_box(:repeat, {:multiple => true, :checked => (@item[:repeat].split(" ")).include?(day)}, day )%>
            <% else %>
              <%= f.check_box(:repeat, {:multiple => true}, day )%>
            <% end %>
            <%= h day %>
          </li>
      <% end %>
    </ul>

  </div>
  <div class="form-group">
    <%= f.label :due, :class => 'control-label' %><br>
    <%= f.datetime_select :due, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
</fieldset>
<% end %>
