<!DOCTYPE html>
<html>
<head>
  <title>Done321</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", todo_index_path%></li>
            <li><%= link_to "About", todo_about_path%></li>
          </ul>
        </div>
      </div>
    </nav>
  <%= yield %>
  </div>


</body>
</html>
